{% extends "base.html" %}

{% block title %} Registration page {% endblock title %}

{% block extra_styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock extra_styles %}

{% block content %}
<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="form-title">Tell us about yourself</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="full_name" placeholder="Full name" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="phone_number" placeholder="Phone number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="passport" placeholder="Passport" required/>
                    </div>
                    <div class="form-group">
                        <label for="passport_image">Passport Image:</label>
                        <input type="file" class="form-input" name="passport_image" id="passport_image" required/>
                    </div>
                    <div class="form-group">
                        <label for="kadastr_image">Kadastr Image:</label>
                        <input type="file" class="form-input" name="kadastr_image" id="kadastr_image" required/>
                    </div>
                    <p>Select your address</p>
                    <div id="map" style="height: 400px;"></div>
                    <input type="hidden" name="latitude" id="latitude" required/>
                    <input type="hidden" name="longitude" id="longitude" required/>
                    <input type="hidden" name="address" id="address"/>
                    <div class="form-group" style="margin-top: 30px;">
                        <button type="submit" class="form-submit">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_scripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script>
        var map = L.map('map').setView([41.37910297185332, 60.371696949005134], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = L.markerClusterGroup();
        map.addLayer(markers);

        function onMapClick(e) {
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
            markers.clearLayers();
            markers.addLayer(L.marker(e.latlng));

            getAddressFromCoordinates(e.latlng.lat, e.latlng.lng);
        }

        map.on('click', onMapClick);

        function getAddressFromCoordinates(latitude, longitude) {
            fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`)
                .then(response => response.json())
                .then(data => {
                    if (data.display_name) {
                        document.getElementById('address').value = data.display_name;
                    } else {
                        console.error('Address not found for the provided coordinates.');
                    }
                })
                .catch(error => console.error('Error fetching address:', error));
        }

        document.getElementById('signup-form').addEventListener('submit', function(event) {
            var latitude = document.getElementById('latitude').value;
            var longitude = document.getElementById('longitude').value;
            if (!latitude || !longitude) {
                event.preventDefault();
                alert('Please select a location on the map.');
            }
        });
    </script>
{% endblock extra_scripts %}
