<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Display error messages -->
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            <h6>{{ error }}</h6>
                        </div>
                    {% endfor %}
                    {% if errors %}
                        <br>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-input" name="full_name" placeholder="Full name" required value="{{ data.full_name }}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="phone_number" placeholder="Phone number" required value="{{ data.phone_number }}"/>
                    </div>
                    <div class="form-group">
                        <label for="passport_image">Passport Image (Main page):</label>
                        <input type="file" class="form-input" name="passport_image" id="passport_image" required/>
                    </div>
                    <div class="form-group">
                        <label for="passport_secondary_image">Passport Image (Address page):</label>
                        <input type="file" class="form-input" name="passport_secondary_image" id="passport_secondary_image" required/>
                    </div>
                    <div class="form-group">
                        <label for="kadastr_image">Kadastr Image:</label>
                        <input type="file" class="form-input" name="kadastr_image" id="kadastr_image" required/>
                    </div>
                    <p>Select your address</p>
                    <div id="map" style="height: 400px;"></div>
                    <input type="hidden" name="latitude" id="latitude" required value="{{ data.latitude }}"/>
                    <input type="hidden" name="longitude" id="longitude" required value="{{ data.longitude }}"/>
                    <input type="hidden" name="address" id="address" value="{{ data.address }}"/>
                    <div class="form-group" style="margin-top: 30px;">
                        <input type="text" class="form-input" name="house_number" placeholder="House number" required value="{{ data.house_number }}"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-submit">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
