<!DOCTYPE html>
{% load static %}

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<title>{% block title %} {% endblock title %}</title>
	</head>

	<body>
		{% block content %} {% endblock content %}

		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
